/* ============== color UI ============= */

/* font: Montserrat  */

/* Primary: #96BB7C */

/* background hero: #FFF2F3 */

/* danger: #E74040 */

/* text primary: #252B42 */

/* text secondary: #737373 */

/* ====== RESET CSS ====== */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}
a {
  color: #252b42;
  display: inline-block;
}
/* ================== COMMON ================ */
/* width  */
.container-1440 {
  width: 1440px;
  margin: 0 auto;
  /* background: red; */
}

.container-1050 {
  width: 1050px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

/* button */

.btn {
  display: inline-block;
  padding: 16px 26px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.btn__icon {
  margin-left: 14px;
}

.btn--primary {
  background-color: #96bb7c;
  color: #fff;
}

.btn--default {
  border: 1px solid #96bb7c;
  color: #96bb7c;
}

.btn--arrow-next {
}

.img--responsive {
  display: block;
  max-width: 100%;
  /* scale: ; */
  /* height: auto; */
}

/* font */

.textcolor-default {
  color: #252b42;
}

.textcolor-primary {
  color: #96bb7c;
}

.textcolor-gray {
  color: #737373;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-40 {
  font-size: 40px;
}

.fs-58 {
  font-size: 58px;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.t-capitalized {
  text-transform: capitalize;
}

.mr-16 {
  margin-right: 16px;
}

.mr-46 {
  margin-right: 46px;
}

.nav {
  /* width: 70%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav__list {
  display: flex;
}

.nav .nav__item {
}

.nav .nav__link {
  text-decoration: none;
  color: #737373;
}

.nav__list--headbtn {
  display: flex;
  align-items: center;
}

.nav--col {
  flex-direction: column;
}

body {
  /* color: #252b42; */
  font-family: 'Montserrat', sans-serif;
}
/* ======================= HEADER ============== */

.header {
  width: 100%;
  background-color: #fff2f3;
}

.header__top {
  width: 1040px;
  padding-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 301px;
}

.logo__text {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  text-transform: capitalize;
}

.logo__link {
  text-decoration: none;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item {
}

.header__item:not(:last-child) {
  margin-right: 19px;
}

.header__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #737373;
}

.header__groupBtn {
  display: flex;
  align-items: center;
  width: 299px;
}

.header__listBtn {
}

.header__linkBtn {
  cursor: pointer;
  text-decoration: none;
}

.header__linkBtn--login {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  text-align: right;
  color: #96bb7c;
}

.header__linkBtn--joinUs {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #fff;
  padding: 15px 30px;
  background: #96bb7c;
  border-radius: 5px;
}

.header__linkBtn--Arrow {
  margin-left: 6px;
}

.header__listBtn--login {
  margin-right: 50px;
}

.header__bottom {
  padding-top: 24px;
}

.hero {
  /* margin-top: 91px; */
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.hero__info {
  padding-top: 152px;
  padding-left: 133px;
}

.hero__badge {
  margin-bottom: 31px;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}

.hero__heading {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
}

.hero__text {
  color: #737373;
  line-height: 30px;
  font-size: 20px;
  width: 320px;
  margin-bottom: 29px;
  font-weight: 600;
}

.hero__groupBtn {
}

.hero__groupBtn--joinUs {
  padding: 16px 35px;
}

.hero__groupBtn--learnMore {
  padding: 16px 34px;
  margin-left: 8px;
}

.hero__img {
}

.hero__img--banner {
  padding-left: 24px;
  width: 704px;
  height: 682px;
  display: block;
}

/* ======================= MAIN ============== */

.main {
  padding-top: 94px;
  padding-bottom: 133px;
}

/* Package section */

.package {
  display: flex;
  justify-content: space-between;
}

.package__img {
  padding-left: 194px;
}

.package__img--detail {
}

.package__appro {
  padding-top: 151px;
  padding-left: 63px;
}

.package__border {
  width: 92px;
  height: 6px;
  background: #e74040;
  margin-bottom: 35px;
}

.package__heading {
  margin-bottom: 35px;
  letter-spacing: -0.9px;
  line-height: 50px;
  font-size: 40px;
  font-weight: 700;
}

.package__content {
  margin-bottom: 35px;
  width: 50%;
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.package__btn {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #96bb7c;

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  text-decoration: none;
}

.package__btn--icon {
  margin-left: 6px;
}

/* team section */

.team {
  /* padding-top: 25px; */
  padding: 0 195px 0 195px;
}

.team__head {
  padding-top: 25px;
  /* width: 691px; */
  /* padding: 0 195px 0 195px; */
}

.team__body {
  /* margin: 0 auto; */
  padding-top: 111px;

  width: 101%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team__badge {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #96bb7c;
  margin-bottom: 10px;
}

.team__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  margin-bottom: 10px;
}

.team__content {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  /* text-align: left; */
  color: #737373;
}

.card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 239px;
  overflow: hidden;
  /* background-color: gray; */
}

/* .card:not(:last-child) {
  margin-right: 30px;
} */

.card--shadow-sm {
  box-shadow: 0px 13px 19px 0px #00000012;
}

.card__avatar {
  height: 233px;
  overflow: hidden;
}

.card__avatar--detail {
  display: block;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.card__info {
  /* margin-bottom: 10px; */
  /* background: green; */
  padding: 30px 0;
}

.card__fullname {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}

.card__profession {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
}

.card__social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 44px;
}

.card__icon {
  cursor: pointer;
}

.card__icon--img {
}

/* ============== FOOTER ==============  */

.footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer__head {
  width: 1049px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding-bottom: 39px;
}
.footer__bottom {
  width: 100%;
  background: #fafafa;
}
.footer__bottom--md {
  width: 1049px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 9px;
}

.footer__wrapper {
}

.footer__wrapper:not(:last-child) {
  width: 181px;
}

.footer__heading {
  padding-left: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  margin-bottom: 18px;
}

.footer__nav {
  padding-left: 6px;
}

.footer__list {
}

.footer__item {
  margin-bottom: 11px;
}

.footer__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #737373;
  display: flex;
  align-items: center;
}

.footer__link--icon {
  margin-right: 6px;
}

.footer__link--text {
}

.footer__brandname {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #737373;
}

.footer__social {
  display: flex;
  align-items: center;
  width: 158px;
}

.footer__social--link {
}

.footer__social--link:not(:last-child) {
  margin-right: 18px;
}

.footer__social--icon {
}
